$colorPink:#fb9b98;
$colorPinkLight:#f6ecea;
$colorPurple:#c97da4;
$colorBlue:#25425f;

*{
    box-sizing: border-box;
}
.container{

}
.wrap{

}
.btn{
    display: block;
    width: 170px;
    height: 50px;
    border-radius: 99px;
    line-height: 50px;
    color:white;
    background-color: $colorPink;
    border:none;
    text-align: center;
    font-size: 0.875rem;
    letter-spacing: 0.1em;
    cursor: pointer;
    &:hover{
        background-color:lighten($colorPink,3);
    }
}


.upload__img{
    width: 370px;
    height: 370px;
    border: solid 1px $colorBlue;
    background-color: $colorBlue;
    overflow: hidden;
    position: relative;
    background: url('../img/default-photo.jpg') no-repeat center center;
    background-size: cover;
}
.upload__loading{
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: rgba(0,0,0,0.9);
    color:white;
    font-size: 32px;
    &.active{
        display: block;
    }
}
.upload__mask{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    pointer-events: none;
    background: url('../img/mask.png') no-repeat center center;
    background-size: cover;
    img{
        width: 100%;
        height: 100%;
    }
}
.upload__croppedImg{
    display: none;
    &.active{
        display: block;
        position: absolute;
        z-index: 0;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
    }
}
.upload__uploadBtn{
    position: relative;
    label{
        position: relative;
        z-index: 0;
    }
    input{
        display: none;
    }
}
.upload__step{
    display: none;
    &.active{
        display: block;
    }
}
#myCanvas{
    display: none;
}



// croppie
.cr-boundary{
    left:calc((370px - 600px) / 2);
    top:calc((370px - 600px) / 2);
}
.croppie-container .cr-viewport, .croppie-container .cr-resizer{
    border: none;
}